*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App{
  background: url(/src/images/background3.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-main{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 1.5rem;
}
.form{
  background-color: #f0ece3f1;
  box-shadow: 0px 2px 20px -10px #000000;
  width: fit-content;
  padding: .5rem 1.5rem;
  margin: 1rem 0;
  position: relative;
}
.form-img{
  background-image: url(/src/images/customer-support.svg);
  width: 250px;
  height: 250px;
  margin: -1.2rem auto;
}
.form h2, p, i{
  text-align: center;
  color: #131e20;
}
.form h2{
  margin: 0 0 1rem 0;
}
.form span{
  display: block;
  font-weight: 400;
  font-size: .8rem;
  opacity: .5;
}
.form label{
  display: flex;
  align-items: center;
}
.form i{
  font-size: 1rem;
  padding: .5rem;
}
.form input{
  background: #6674751c;
  border: none;
  outline: none;
  border-radius: 15px;
  color: #2b3d3f;
  width: 100%;
  margin: .5rem;
  padding: .6rem 1rem;
  transition: 200ms linear;
}
.form input:focus{
  background: #2b3e4148;
}
.form input::placeholder{
  color: #2b3d3f;
}
.name-input{
  display: flex;
}
.btn-form{
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 1.5rem 1rem;
  padding: .6rem 1.2rem;
  font-size: .9rem;
}
.upload{
  background-color: #0e1111;
}
.cancel{
  background-color: #9e344b;
}
.form .github{
  background-color: #9e6490;
  color: #633758;
  border-radius: 0 4px 4px 0;
  font-size: 1.5rem;
  padding: .3rem .4rem;
  position: absolute;
  top: 2rem;
  left: 0;
  transition: 200ms linear;
}
.form .github:hover{
  color: #142224;
}

/* Estilos para users */
.users{
  position: relative;
  display: flex;
  justify-content: center;
}
.users h2{
  background-color: #142224;
  padding: .5rem 1rem;
  color: #fff;
  position: absolute;
  top: -5px;
}
.users-content{
  background-color: #798f7dc5;
  padding: .5rem 1rem;
  margin: 2rem 0;
  height: 500px;
  overflow-y: scroll;
}
.users-content::-webkit-scrollbar{
  width: 7px;
}
.users-content::-webkit-scrollbar-thumb{
  background-color: #171817ea;
  border-radius: 4px;
}

.content-item{
  list-style: none;
  background-color: #f0ebebea;
  border-radius: 2px;
  box-shadow: 0px 2px 20px -10px #000000;
  padding: .6rem .5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-info{
  display: flex;
}
.img-profile{
  margin: 0 .5rem;
  width: 40px;
  height: 40px;
}
.info-text{
  max-width: 300px;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 0 1rem;
}
.info-text h3, p{
  text-align: left;
  /* flex: auto; */
  padding: .2rem 0;
}
.info-text p{
  font-size: .85rem;
}
.item-btn{
  display: flex;
  flex-direction: column;
}
.btn{
  background: none;
  border: none;
  cursor: pointer;
  margin: .5rem;
  padding: .2rem;
}
.btn-edit{
  font-size: 1.5rem;
  color: #518164;
}
.btn-remove{
  font-size: 1.2rem;
  color: #914a4a;
}

@media screen and (max-width:850px) {
  .App-main{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .form{
    margin: 0;
  }
}